// Place all the styles related to the public/cusotmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.item-wi {
    margin-right: 25px;
  }

@media (max-width: 425px) {
  .small-text {
    font-size: 12px; /* または希望する小さいサイズに設定 */
  }
  .edit-but .ml-5,
  .edit-but .mx-5,
  .edit-but .actions.ml-5 {
    margin-left: 1rem !important; /* 左余白を調整 */
  }
  .item-wi {
    margin-right: 0px;
    flex: 0 0 50% !important; /* 画面の50%の幅を占める */
    max-width: 50% !important; /* 最大幅も50%に設定 */
  }
  .item-image {
    width: 150px; /* 小さくなるサイズ */
    height: auto; /* 高さを自動調整 */
  }
}