// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 425px) {
  .responsive-table .item-image img {
    width: 50px; /* 画像の幅を小さくする */
    height: auto; /* 縦横比を保持 */
  }
  .responsive-table .item-name,
  .responsive-table .item-price,
  .responsive-table .item-tags,
  .responsive-table .item-status {
    font-size: 12px; /* フォントサイズを小さくする */
  }
  .responsive-table th, .responsive-table td {
    padding: 5px; /* セルのパディングを小さくする */
  }
}