<div class="row">
  <div class="offset-1">
    <h5 class="px-4 table-secondary mb-4">商品一覧</h5>
  </div>
</div>

<% if @results.first %> <!-- @item.existsと同義、SQL1個分削減(?) -->
	<%= render 'index', items: @results %>
	<%= paginate @results %>
<% else %>
	<h3>対応する商品はありませんでした。</h3>
<% end %>

<div class="row justify-content-center">
  <%= paginate @results %>
</div>