<div class="row">
  <div class="col-md-10">
    <table class="border border-dark">
      <thead>
        <th class="border border-dark py-2 px-4">タグ検索</th>
      </thead>
      <tbody>
        <% @tag_counts.each do |tag_name, count| %>
        <tr>
          <td class="py-1 px-3">
            <%= link_to tag_name, items_path(tag_name: tag_name), class: "btn btn-primary text-white" %>
            (<%= count %>)
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

