// Place all the styles related to the admin/index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 425px) {
  .item-image {
    width: 150px; /* 小さくなるサイズ */
    height: auto; /* 高さを自動調整 */
  }
  .small-text {
    font-size: 12px; /* または希望する小さいサイズに設定 */
  }
  .small-tag {
    font-size: 10px; /* または希望する小さいサイズに設定 */
    padding: 0px; /* 小さなボタンサイズ */
  }
  .item-price, .item-tags, .item-status {
    font-size: 12px; /* 同様に希望するサイズに設定 */
  }
  .item-introduction {
    margin-top: 10px;
  }
  .buy-button {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }

}