<%= form_with model:[item, item_comment], local: false do |f| %>
  <div class="errors">
    <%= render "layouts/errors", obj: f.object %>
  </div>
  <div class="form-group">
    <%= f.text_area :comment,placeholder: "商品の状態や質問をぜひコメントしましょう！", autocomplete: "off", class: 'form-control' %>
    <%= f.submit "送信する", class: "mb-3 btn btn-success" %>
  </div>
<% end %>