<div class="text-center">
  <h1>About</h1>
  <span>
    BookMartは大学での参考書・資格本を取り扱います。<br>
    文理問わず、多くの学生が利用できるよう、<br>
    様々な学問に対応しております。<br>
    また、商品購入後は大学内で商品受け渡しをしてもらいます。<br>
    ぜひご注文下さい。
  </span>
  
  <div class="border border-dark p-3 mb-3">
    image
  </div>
</div>