<div class="text-center">
  <h1>About</h1>
  <span>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文下さい。
  </span>
  
  <div class="border border-dark p-3 mb-3">
    image
  </div>
</div>