<div class="row">
  <div class="offset-md-1">
    <h5 class="px-4 table-secondary">会員一覧</h5>
  </div>
</div>

<%= render 'index', customers: @customers %>

<div class="row justify-content-center">
  <%= paginate @customers %>
</div>
