// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.balloon2-right {
    position: relative;
    display: inline-block;
    /*margin: 1.5em 15px 1.5em 0;*/
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
}

.balloon2-right:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
}

.balloon2-right:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #555;
    z-index: 1;
}

.balloon2-right p {
    margin: 0;
    padding: 0;
}
.buy-button {
  margin-top: 50px !important;
}

@media (max-width: 767px) {
  .item-image {
    width: 150px; /* 小さくなるサイズ */
    height: auto; /* 高さを自動調整 */
  }
  .small-text {
    font-size: 12px; /* または希望する小さいサイズに設定 */
  }
  .small-tag {
    font-size: 12px; /* または希望する小さいサイズに設定 */
    padding: 0px; /* 小さなボタンサイズ */
  }
  .item-price, .item-tags, .item-status {
    font-size: 12px; /* 同様に希望するサイズに設定 */
  }
  .item-introduction {
    margin-top: 10px;
  }
  .balloon2-right {
    max-width: 70px;
    margin-left: 130px;
  }
  .buy-button {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .tag-table {
    width: 216%;
  }
  .btn-smaller {
    padding: 0.25rem 0.5rem; /* パディングを小さくする */
    font-size: 0.7rem; /* フォントサイズを小さくする */
    line-height: 1; /* 行の高さを調整する */
    border-radius: 0.2rem; /* ボーダーの半径を調整する */
  }
}
