/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ブラウザがそれぞれ持っているCSSをリセットするための記述 */

body {
  overflow-x: hidden;
}

.xside {
  margin-left: 30px;
  margin-right: 30px;
}

.background-wrapper {
  background-color: whitesmoke;
}

.content {
  background-color: #fff;
}

.except-small-screen {
  display: block
}

.only-small-screen {
  display: none
}

.middle-small-screen {
    display: none
}

@media (max-width: 768px) {
  .xside {
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar-nav .content {
      display: inline-block; /* 横に並べるためにinline-blockを使用 */
      margin-right: 15px; /* 右のマージンを設定 */
  }

  .navbar-nav .content:last-child {
      margin-right: 0; /* 最後の要素のマージンは0にする */
  }
  .middle-small-screen {
    display: none
  }
}

@media (max-width: 1016px) {
  .except-small-screen {
    display: none
  }
  .only-small-screen {
    display: block
  }
  .middle-small-screen {
    display: block
  }
  .my-item {
    margin-left: 15px;
  }
}

@media (max-width: 425px) {
  .middle-small-screen {
    display: none
  }
}
