<li class="mr-5 content">
  <%= link_to "About", homes_about_path, class:"btn btn-outline-secondary", 'data-turbolinks': false %>
</li>
<li class="mr-5 content">
  <%= link_to "商品一覧", items_path, class:"btn btn-outline-secondary" %>
</li>
<li class="mr-5 content">
  <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-outline-secondary" %>
</li>
<li class="content">
  <%= link_to "ログイン", new_customer_session_path, class:"btn btn-outline-secondary" %>
</li>